[2022-03-09 13:32] chesio commented on #975
@Grotax is https://github.com/nextcloud/news/pull/1687 related, ie. is it going to fix this problem?

[2022-03-09 13:35] Grotax commented on #975
No I don't think so, I just tried it on my own instance that is already updated.
Marked all items as read via the webapp via the three dot menu.
Sync with android app, all items still there.

No idea what the issue is.

[2022-03-09 17:27] David-Development commented on #1075
@proninyaroslav Thank you for the thorough ticket. I wasn't really aware of that caching behavior.

I just went through the docs and saw that they have an option to clear the session's cache `daoSession.clear();`

Wondering if you could call that in the `OwnCloudSyncAdapter` once the sync is finished..? Not sure if it has other side-effects with the existing data visible in the app. Otherwise I ag

[2022-03-09 17:30] David-Development commented on #975
@Grotax In case it helps... Just to make sure this is an backend problem and not some issue in the app I ran the following command in my terminal:

[code]

Just replace `lastModified` date with your current date (unix). If you mark a single item as read (after the time you specified) it should be returned by the api call. Right now the bulk changes are not included in the response.

[2022-03-09 17:40] Grotax commented on #975
Yea I have basically identified the issue I think.
At least the services I checked so far do since the rewrite not update the lastModified timestamp.

The problem we have basically is that we do not have api testing in place.
That would require an actual instance of Nextcloud and news running inside of GitHub actions.

But it seems like we are actually already quite advanced in our testing compare

[2022-03-09 17:58] proninyaroslav commented on #1075
Ok, I'll try both options, although `deepQuery` is probably a cleaner way, there are no hidden or additional conditions like cleaning DAO, which you may not know or forget about when writing new code or maintaining old.

[2022-03-10 06:53] ajkistner commented on #1035
Likewise, I am experiencing it. I'm noticing it on Android 12 with my Pixel 6 Pro, it hadn't previously been an issue on a different phone with Android 11.

App version 0.9.9.71

[2022-03-10 17:06] #1075 closed

[2022-03-13 08:36] Phaet opened #1077 "News looses connection to Nextcloud server every day due to change of IP address"
Every day in the morning News can't access the Nextcloud server with different messages (Can't resolve domain address, Java connection lost or refused, and the like).
Reason is that the Fritzbox automatically disconnects shortly from Intranet every night and then receives a new IP address.
News and the Nextcloud app obviously do not recognize this change of IP. (Other apps, e.g., browsers do.)
Whe

[2022-03-13 10:10] David-Development commented on #1077
@Phaet thank you for the feedback. Are you using single sign on?
From what I'm understanding you have a dynamic DNS setup (public DNS that points to your home ip that is changing every night). This sounds like a pretty common setup to me - in fact I'm using a similar setup.

What you could try to do is if the error message appears in the app, open your browser (on that device) and enter the DNS en

[2022-03-13 10:55] Phaet commented on #1077
Yes, DynDNS and single sign on.
As said, browsers are not affected in general, since I am reading my news papers every morning. I am not sure whether I tried to access my Nextcloud home page. I will try next time the problem occurs.
And, BTW, the error occurs on both my tablet and my phone (Samsung Galaxy Tab S6 and S9, both with Android 10)

[2022-03-15 07:13] tobiasKaminsky commented on #1077
No we do not, at least not intentional. It might be kind of caching, within the network library we use.
I unfortunately have no clue how to find this out.

[2022-03-22 10:27] LinAGKar commented on #1061
Doesn't just happen for pictures. It also tends to crash just by holding you finger somewhere on the screen, probably when it's trying to highlight text.

[2022-03-27 13:29] David-Development commented on #1077
@stefan-niedermann Thank you for mentioning that issue in the notes repo. Looks like there is a ticket open in the Android Repo now https://github.com/nextcloud/android/issues/10018

@Phaet Where you able to test if you are still able to open your nextcloud from the browser?

[2022-03-27 13:38] David-Development commented on #1057
@osfrance Does the issue still persist? If so, please reopen!

[2022-03-27 13:40] David-Development commented on #1056
Closing this as it works if the "credentials" are provided and the "detect feed automatically" is disabled.

[2022-03-27 13:40] #1056 closed

[2022-03-27 13:41] Phaet commented on #1077
I didn't encounter this issue since a while. But today my tablet had lost at all internet connection in the morning (also with other apps) and I need actually reboot since toggling Wifi does not help.
So I am not quite sure anymore what causes the issue.
I'll keep on testing.

[2022-03-27 14:26] David-Development commented on #1054
@Grotax Is there a way to receive additional tags in the feed? Just looked into it the feed mentioned above but I can't seem to find a way to access the `psc:chapters` (https://podlove.org/simple-chapters/). And extracting the chapters from the m4a file doesn't seem possible as it is a proprietary implementation by apple..

@egabosh I'm not sure where AntennaPod is getting their images from.. but

[2022-03-27 16:23] David-Development commented on #1064
Fixed in https://github.com/nextcloud/news-android/commit/e41e159be51c1b3d1268ae300d5c00d578d91942

[2022-03-27 16:23] #1064 closed

[2022-03-27 16:23] David-Development commented on #1053
Fixed in https://github.com/nextcloud/news-android/commit/e41e159be51c1b3d1268ae300d5c00d578d91942

[2022-03-27 16:23] #1053 closed

[2022-03-27 16:29] David-Development commented on #1048
Fixed in https://github.com/nextcloud/news-android/commit/e41e159be51c1b3d1268ae300d5c00d578d91942

@Tealk Onto your SD-Card. Usually the path should be something like `/Android/data/de.luhmer.owncloudnewsreader/files/Music/podcasts/<hash>/<filename>`

[2022-03-27 16:29] #1048 closed

[2022-03-27 16:33] David-Development commented on #1018
Duplicate of https://github.com/nextcloud/news-android/issues/975 - looks like a server side issue 😕

[2022-03-27 16:33] #1018 closed

[2022-03-27 16:35] David-Development commented on #975
@Grotax Glad to hear that you managed to identify the issue. Is there anything we can help with? Do you want me to open a ticket in the news repo?

[2022-03-27 16:37] David-Development commented on #1002
This is already implemented. You can long press on feeds to change their notification settings. (In the sidebar)

[2022-03-27 16:37] #1002 closed

[2022-03-27 16:38] David-Development commented on #983
Probably the same issue as described in https://github.com/nextcloud/news-android/issues/975

[2022-03-27 16:38] #983 closed

[2022-03-27 16:41] David-Development commented on #994
Sorry about the late response - is this still an issue?

If so, I'm not sure but I think this might also be related to https://github.com/nextcloud/news-android/issues/975 (if you use the mark all as read feature in the web ui it is not synchronized back to the client).

[2022-03-28 10:25] Grotax commented on #1054
Hi there, no that is not possible.

As far as I know feed-io has a way to access non standard elements of feeds an items, maybe news could fetch them this way.
But that would need to be implemented and stored in the DB currently that is not done, we only extract stuff like content and title.

As a long term antennapod user myself I think that the images come from the audio file. In previous versio

[2022-03-28 10:27] Grotax commented on #975
Well I started to write tests for the API and I can now actually reproduce the error :)

I will see if I can work on a fix soon and make the test work, apparently updating this timestamp was just forgotten long ago.

[2022-03-28 14:40] egabosh commented on #1054
@David-Development I downloaded the m4a file and looked with ffmpeg/ffprobe in it. I can see only chapters but no pictures but anyway it is possible to access proprietary m4a files with OpenSource tools. :-)

[code]

[code]

For me it looks like the pictures are coming from somewhere else (not from the m4a). Maybe the code from AntennaPod (https://github.com/AntennaPod/AntennaPod) helps?

[2022-03-29 06:57] Phaet commented on #1077
Update: On weekend I updated my tablet to Android 12 and since then my Netguard firewall is blocking all traffic every morning and I have to switch it off/on.
The Netguard developer, Marcel Bokhorst, told me:
"This problem is likely being caused by your Android version not sending important connectivity events to the app.
Unfortunately, this is not something I can fix."

Maybe this gives a hint wh

[2022-03-30 06:23] keunes commented on #994
I reinstalled the OS and upgraded to a 64-bit set-up. For me it's working now.

[2022-03-30 08:38] sirdrakeistda commented on #1048
This issue is not fixed for me in the latest version. scrolling forward works without problem, but scrolling backwards does not work.

[2022-03-30 09:56] Tealk commented on #1048
I can confirm that
when I try to scroll back, it scrolls forward

[2022-04-02 11:41] Tealk opened #1079 "read articles are not syncronized"
Hello,

when I mark all articles as read in Nextcloud, they still show as unread in the app.
However, when I mark the articles as read in the app it is transferred cleanly to Nextcloud.

[2022-04-27 07:46] LinAGKar opened #1084 "Starred items are listed backwards"
If you set the app to list articles in chronological order, starred items are still showed in reverse chronological order.

[2022-04-27 17:34] Popkornium18 commented on #1079
Same for me. It makes the Android app barely usable for me, since it's always full of "unread" articles that I have already read.

Android App Version: 0.9.9.72 installed from F-Droid
Nextcloud Version: 23.0.4
Nextcloud News Version: 18.0.1
Android Version: Android 11 (/e/OS on Fairphone 4)
Server is running Debian 11 with PHP8

I will provide further Information if anything relevant is missing.

[2022-05-01 13:50] David-Development commented on #1084
Thank you for the report - I agree, that the starred items should follow the selected order. I'll fix this in the next update.

[2022-05-01 13:53] David-Development commented on #1079
Sorry for the long delay. Unfortunately this is a known issue in the nextcloud news app (server side app). The team working on the server side app is fixing the issue soon. Duplicate of https://github.com/nextcloud/news-android/issues/975.

[2022-05-01 13:53] #1079 closed

[2022-05-01 13:58] David-Development commented on #975
To keep everyone up to date - if I'm not mistaken the following MR fixes the issue. So it probably won't be long until this issue is fixed. Thank you so much @Grotax 🙇‍♂️

https://github.com/nextcloud/news/pull/1713

[2022-05-03 12:45] EricZhang456 opened #1085 "Text formatting is a bit weird"
The app seems to create a new line for links

<img width="300px" src="https://user-images.githubusercontent.com/32814750/166455109-0088daec-5b4e-4240-9320-e2a10b406dad.png" />

However this doesn't occur in the web app

<img width="300px" src="https://user-images.githubusercontent.com/32814750/166455243-01f26873-84db-401e-aad8-9b505e103dd9.png" />

[2022-05-06 19:54] LinAGKar commented on #1061
I've now gotten it down to the following steps to trigger a crash:

1. Tap an article
2. Swipe one step to the right
3. Swipe two steps to the left
4. Hold anywhere on the screen, to try to bring up title text or text highlighting

https://user-images.githubusercontent.com/3390621/167207594-015974a4-86ff-460b-ad09-c68c0cdb579e.mp4

[2022-05-08 17:22] adrienneteicher opened #1087 "Adjust playback speed for podcasts"
Please implement the ability to adjust the playback speed of podcasts. I use podcasts for my stufies and It would be great if this was accessible directly from the audio player interface rather than buried in a menu as I often need to change the playback speed multiple times in a podcast.

Thank you for a great app.

[2022-05-20 18:36] Ilav1 commented on #1057
Hello,
I also have these message when refreshing my news sometimes. When refreshing directly again I get the HTTP 500 Error. My Nextcloud is crashed and I can't open the site for a short time on the browser. Sometimes I have to restart the server because Nextcloud doesn't start itself again.

![f85e4bfb-f387-4b58-b346-724350df0b86](https://user-images.githubusercontent.com/102852954/169590751-5a8e

[2022-05-20 18:58] Ilav1 commented on #1057
@David-Development

I also get these Java Error:

![997fc877-6ba0-410c-a871-4d7e5b3fef86](https://user-images.githubusercontent.com/102852954/169593711-0a218b27-4763-4d2f-b74c-56b653b5a3f4.jpg)

The black part is my nextcloud domain.

I don't know if this Error has something to do with the other Java Error before. I can't reproduce the error. It occurred sometimes when I start the App (News are sy

[2022-05-22 15:48] #1061 closed

[2022-05-22 16:28] David-Development commented on #1085
Thank you for the report. I haven't noticed this behavior with any of my feeds yet. Can you provide me the link of the rss feed? Is it this one? https://techcrunch.com/tag/rss/

[2022-05-22 16:34] David-Development commented on #1077
@Phaet Thank you for the update. I agree with the Netguard firewall developer and I also think that this is a network issue of your tablet. Maybe it makes sense to reboot your tablet in the morning just to make sure all apps are working properly. Not sure how to fix this issue without having a solid test case that we can reproduce on our test devices (and this most likely needs to be addressed in

[2022-05-22 20:24] Phaet commented on #1077
It is for sure a problem with Netguard on Android 12. Switching Netguard off and off every morning is a feasible workaround since afterwards everything is working smoothly.
Thanks for taking care :-)

[2022-05-23 04:48] #1077 closed

[2022-05-29 09:16] tiptruck opened #1094 "Open podcast in external player"
Please add an option to use an external player such as VLC to play podcasts either streamed or downloaded.

[2022-05-29 09:30] Grotax commented on #975
The fix for the news (server) app is included in 18.1.0-beta1 for the first time.

Stable release will follow soon.

[2022-06-10 17:38] LinAGKar opened #1096 "Crash when clicking relative link"
An item in one of my feeds contains a relative link. Specifically it's a Reddit atom feed, containing a link with href="/r/MsMarvelShow". When I click the link, the app crashes with the following:

[code]

Feeds are of course recommended not to do this, but maybe the app can use the host from the <link> element to figure out what the link is supposed to lead, or xml:base if present (though the Red

[2022-06-10 17:53] LinAGKar opened #1097 "Media playback controls pop up and immediately goes away"
After the most recent update, whenever I open an item, media playback controls pop up a the bottom of the screen, only to immediately go away a split-second later. Sometimes it doesn't go away completely, though that's rare.

---

App Version: 0.9.9.73
App Version Code: 176

---

SSO enabled: true

---

OS Version: 4.19.157-perf+(R.GDPR.202205172258)
OS API Level: 31
Device: OnePlus8T
Model (and P

[2022-06-12 14:32] maurerle opened #1098 "Row too big to fit into cursorwindow"
Hello, since today i get the exception when opening the app:

[code]

I read the exception through logcat reader.
If i should do something for further troubleshooting, please say so.

Android app from F-Droid

[2022-06-13 15:21] slammonius opened #1099 "No access via http"
hi there,
I hope it has not been answered earlier, but I wasn't able to find something about it, so I'm posting it here.
I'm using a nextcloud instance that is only accessible via a wireguard VPN tunnel. Thats why I didn't bother to configure https-access to my nextcloud. So I have only http-access to my nextcloud. It has been fine so far and everything is working, including the android apps "Next

[2022-06-14 15:32] David-Development commented on #1099
Hi @slammonius,

thank you for the detailed report. It's weird that it is not working. You said that you are using the Nextcloud Notes app, correct? Do you use the Single-Sign-On there as well? I'm curious because it's the same technology and I can't see why it shouldn't work.

If the nextcloud files app has a connection to your nextcloud so should the news app (if you use single-sign-on). Can you

[2022-06-14 15:35] David-Development commented on #1098
@maurerle Thank you for the report. Do you have feeds that have articles that are veeeery long? If so, could you give the urls to those feeds? (Also via email if you want - david-dev@live.de)

Which android phone do you have? OS, and Model (so that I can look up the hardware specs).

[2022-06-21 21:24] chesio commented on #975
I've just upgraded my Nextcloud instance to News 18.1.0 and the problem is gone :smile:

@Grotax and @David-Development - big thanks to you guys for your work on this!

[2022-06-21 21:24] #975 closed

[2022-07-05 15:40] #1099 closed

[2022-07-09 13:05] xundeenergie commented on #1033
Not login possible with nextcloud app.

![Uploading Screenshot_20220709_150200_de.luhmer.owncloudnewsreader.jpg…]()

News: 0.9.9.74
Nextcloud Dev App: 20220706

[2022-07-10 08:38] David-Development commented on #1033
@xundeenergie Thank you for the report. Unfortunately the image that you uploaded is not available (I think you commented before it was finished uploading?). Which news app version do you have installed on your server? Are you a new user or have you been using the news android app before and it just stopped working now?

[2022-07-10 10:46] David-Development commented on #1096
Thank you for the report! I am catching error when opening invalid urls now and I managed to adapt our work on fixing invalid/relative/absolute image urls to also fix href urls. (Requires a full sync so you need to logout and login again in the nextcloud news app to fix already downloaded articles). Will be part of Version 0.9.9.75

Fixed in https://github.com/nextcloud/news-android/commit/262c98e

[2022-07-10 10:46] #1096 closed

[2022-07-11 06:38] xundeenergie commented on #1033
Try again...

![Screenshot_20220711_083023_de luhmer owncloudnewsreader](https://user-images.githubusercontent.com/5894829/178203329-71599c65-91f7-437c-8043-c682c1013395.jpg)

I'm a new user to news. Tried to authenticate with nextcloud app.
Both from f-droid

[2022-07-12 05:45] David-Development commented on #1033
@xundeenergie Thank you for the screenshot. Looks like you're also affected by https://github.com/nextcloud/Android-SingleSignOn/issues/456. Do you have your phone set to either swiss- or austrian german? (@stefan-niedermann fyi)

I'm not sure why the dev app is not working properly. Can you check if it's working if you install the production version of the nextcloud files app? https://f-droid.org

[2022-07-14 14:34] xundeenergie commented on #1033
It works with the normal nextcloud app.

Nextcloud Notes also had the same Problem, and it works also with the normal version.

[2022-07-17 12:31] amadeous opened #1103 "[Feature Request] Add "Show articles in this feed" option from a given article in general view"
Hello,

First, thank you for the great app!

Motivation: When going through the list of unread articles, I sometimes wonder what other unread articles come from a given feed. I would appreciate a way to go to the list of the related feed.

Some solutions to trigger a change of view:
1. An intuitive way in my opinion would be to add a "Show articles in this feed" option in the menu displayed when l

[2022-07-17 20:58] DC7IA opened #1104 "Audio that can't be paused due to lack of controls"
Hello.

Having another app in foreground makes the audio controls disappear while audio continues.
When switching back to Nextcloud News there is no way to stop the audio, or restart it if it stopped by tapping the audio controls in the notfication area. This only happens from time to time.

Also, sometimes the audio controls seemingly disappear for no reason when looking at other posts of the fee

[2022-07-25 09:35] markochk opened #1105 "Articles marked as read via web app -> sidebar -> Unread articles -> Mark read show as unread in Android app"
This issues is similar to (or a possible duplicate of) #975.

From a web app, marking a single article, a feed or a folder as read works properly, with Android app seeing them as read, but when going web app -> sidebar -> Unread articles (or All articles) -> Mark read, these articles still show as unread in the Android app. Over time I've accumulated around 3400 unread articles in the Android app

[2022-07-26 08:02] tobiasKaminsky commented on #1105
Happens to me as well, also with latest News/Android app on NC24.
@David-Development if you need help to debug this, feel free to ping me :-)

[2022-07-29 15:13] David-Development commented on #1105
Thank you for the report. really weird.. classic example of .. works on my machine 😅

I'm running Nextcloud 24.0.3, and News v18.1.0 as well.. can't reproduce the issue. If I mark a whole feed as read in the web ui the changes are reflected in the app. If I mark a single item as read it also gets synced to the app properly.. 🤔

[2022-07-29 15:18] David-Development commented on #1104
Hi @DC7IA which phone do you have? Maybe the android system is trying to claim resources that are currently not used (e.g. playback stopped) and thus it destroys the playback service. I'll try to investigate this some more. Thank you for the report.

[2022-07-29 15:27] David-Development commented on #1062
haha yikes.. I waiting too long to fix this.. they changed it to a `.ico` now 😅

Looks like the library that I'm using to display the favicon doesn't support it (and probably never will). https://github.com/nostra13/Android-Universal-Image-Loader/issues/1336

Since the feed that you provided switched to `ico` now I'll close this ticket and keep in mind, that when we switch to a different Image Loa

[2022-07-29 15:27] #1062 closed

[2022-07-29 15:29] David-Development commented on #1057
@Ilav1 I'm not sure if this is something I can fix. It sounds like your server is crashing..? I'd try to investigate why the error is crashing. Once you get rid of the server crashes you shouldn't see those errors in the android app again. Maybe you have some crash logs in the nextcloud logs? Or in your docker logs in case you're running it in a docker container

[2022-07-29 15:34] David-Development commented on #1054
@Grotax @egabosh Thank you for the information and the test with ffmpeg/ffprobe. I'm currently a little down under with work so I'm not sure when I'll have time to look into this as it is probably a reasonable amount of work. It definitely sounds  like a great feature and if ffmpeg is able to extract the chapters that would be a great start as I always had that in mind for the app with the sliding

[2022-07-29 15:41] David-Development commented on #1033
@xundeenergie I created a ticket in the Single Sign On Repo where we can investigate this issue further. Closing this for now.

[2022-07-29 15:41] #1033 closed

[2022-07-29 15:46] David-Development commented on #1085
@EricZhang456 Thank you for the link and sorry for the delay. Are you still experiencing this issue? I tested the feed that you provided and it looks perfectly fine on my device. What language do you have set on your phone? Is it set to Chinese? Do you have RTL activated? (Text looks like LTR to me but I'm not sure what else it could be).

[2022-07-29 15:48] #1006 closed

[2022-07-29 15:50] #994 closed

[2022-07-29 15:55] David-Development commented on #870
Does this issue still exist? I remember making some changes to the webview performance earlier this year so I believe this should be fixed. If not - please reopen!

Ref: https://github.com/nextcloud/news-android/commit/0c8c5e5ad80027689a8a08ab58a1045e56f1c5bf

[2022-07-29 15:55] #870 closed

[2022-07-29 15:59] David-Development commented on #971
@DC7IA Yes, the choice was made so that if users download the podcasts they have the choice to actually play the podcast with another app. They are in a separate folder - usually you need to select the folder in your music app that you want to play music from. I'm not sure if someone is even doing that so maybe it might be a good idea to store podcasts in a private folder.

[2022-07-29 16:03] David-Development commented on #971
Might be a good idea to allow users to select the directory themselves. --> https://github.com/nextcloud/news-android/issues/635

[2022-07-29 16:03] #971 closed

[2022-07-29 16:08] David-Development commented on #891
The controls have been updated recently and should work much better now. However it is still not perfect, I agree.

Closing this in favor of https://github.com/nextcloud/news-android/issues/635

[2022-07-29 16:08] #891 closed

[2022-07-29 16:16] David-Development commented on #721
Starting with Android 10 the google team started to improve the opening time of the share dialog. Since it shouldn't be more than one additional click on recent Android versions to share a link with your favorite app I'll close this ticket

The only option that I could think of for a deep integration would be something like trusted links to other apps..

[2022-07-29 16:16] #721 closed

[2022-07-29 16:16] David-Development commented on #727
Closing this in favor of https://github.com/nextcloud/news-android/issues/1054

[2022-07-29 16:16] #727 closed

[2022-07-29 16:17] #397 closed

[2022-07-29 16:30] David-Development commented on #854
I believe that this should be fixed by now. If not, please reopen!

[2022-07-29 16:30] #854 closed

[2022-07-29 16:31] #909 closed

[2022-07-29 16:33] David-Development commented on #733
Since the old login method is deprecated now I'll close this.

[2022-07-29 16:33] #733 closed

[2022-07-29 17:42] markochk commented on #1105
Thanks for replying! Those things work for me too - marking a single item, a whole feed, or a folder in web UI as read is properly synced and Android app sees them as read immediately.

What doesn't work for me is if I go this route: open web UI -> click on `Unread articles` button in the sidebar (so all unread articles from all feeds and folders are displayed in one unified view) -> click on the

[2022-07-30 04:04] EricZhang456 commented on #1085
I don't use Nextcloud News anymore so I can't tell right now.

[2022-07-30 07:52] ostcar commented on #635
I really like you app. It might be the most used app on my phone.

It would also be nice if the files would have better names. Currently, the names seems to be some sort of hash. Maybe they could be named by the name of the podcast?

[2022-07-31 18:51] gjanssens opened #1108 "Starred messages count is different between web app and android app"
Current Nextcloud server version: 24.0.3
Current Android Nextcloud News version: 0.9.9.75

It has been the case for quite some time that the counters for starred message differ in the web app and in the nextcloud news android app.

With the most recent update of the server I had to re-login in the android app and now the starred messages counter on the android app is 0. On the server however it's

[2022-08-08 11:32] Sunsheep opened #1109 "Role of "Interact.sh"?"
Hi,

`Current Nextcloud server version: 24.0.3`
`Current Android Nextcloud News version: 0.9.9.75`

Since the update from `0.9.9.74` to  `0.9.9.75` (F-Droid) my IDS/IPS System warned me, that my mobile devices tries to connect to `interact.sh`, which is an "OOB interaction gathering server and client library". This tool is often used to detect vulnerabilities that cause external interactions. In t

[2022-08-10 20:39] artfulrobot opened #1110 "Podcast player seek bug"
https://user-images.githubusercontent.com/870343/184016231-bac79f5f-9ee3-42bf-b394-3c03fcebb9ad.mp4

The player does weird things while streaming and seeking. eg. Seek forward then try to go back and it jumps further forwards!

[2022-08-13 10:04] joeyboon commented on #1109
Hi I just want to mention I have the same issue.

[code]

[code]
I saw my phone trigger these alerts and after monitoring network traffic for a while on my phone I manged to relate this to the Nextcloud News app.

Screenshot of NetGuard results seeing it make requests to the mentioned domain:
https://cloud.netjoe.nl/index.php/s/6F9n3LiLHJSw8zz

After this I also loaded all feeds separately in my b

[2022-08-14 12:49] Kalytis commented on #1001
Any plan to work on this enhancement sometime soon ?

[2022-08-20 22:07] Selaron commented on #1109
Same here, got notified by IPS. The string in question is part of the apk downloaded from f-droid, not in the APK you can download from github nor is it part of the sources tarball on f-droid that is claimed to have been used to build that apk.

[code]

After converting the apk to jar I found that `com/nostra13/universalimageloader/core/ImageLoaderConfiguration.class` contains that string.
But whe

[2022-08-21 09:38] Selaron commented on #1109
So jd-compiler just seemes not capable to decompile lamda expressions or some other advanced Java feature used here. The CFR decompiler is:

[code]
When comparing this to the original code you easily see the additional imports and `new Thread(new a(builder)).start();` and the code that Thread executes does not originate from the nostra13:universal-image-loader author.

https://github.com/nostra13/

[2022-08-21 13:43] David-Development commented on #1109
Thank you for all the details in here. This sounds very suspicious - I'll open a ticket at f-droid. The dependency to the universalimageloader hasn't been updated in 4 years and the version available on maven was last build 4 years ago ([maven - universal-image-loader 1.9.5](https://repo1.maven.org/maven2/com/nostra13/universalimageloader/universal-image-loader/1.9.5/)). Might be worth checking if

[2022-08-21 14:12] Selaron commented on #1109
I yet fully decompiled the github APK just to be sure. There is no match for interact.sh and the source of `ImageLoaderConfiguration.class` looks normal from a rough look.

No warranties of course ;)

Other findings are that the build log from f-droid does not state any gradle download of the altered dependency: https://f-droid.org/repo/de.luhmer.owncloudnewsreader_178.log.gz

But on the other han

[2022-08-21 14:18] David-Development commented on #1109
@Selaron Thank you for decompiling it. Glad to hear that the APK I compiled doesn't seem to be affected.

Just created a confidential ticket at GitLab and asked for clarification. As soon as we know more I'll report back here! (In case someone has permission to access it: https://gitlab.com/fdroid/fdroiddata/-/issues/2753).

It looks like `interact.sh` is an Open-Source Project (https://github.com

[2022-08-21 15:22] licaon-kter commented on #1109
The recipe is public, on autoupdate and barely (human) touched for years: https://gitlab.com/fdroid/fdroiddata/-/commits/master/metadata/de.luhmer.owncloudnewsreader.yml

If this issue is recent then a dependency has change... recently.

Recipe appears rather simple to parse: https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/de.luhmer.owncloudnewsreader.yml#L1832-L1854

Any pointers on w

[2022-08-21 15:25] licaon-kter commented on #1109
@Selaron there's no cache, a lib is rebuild before the app is.

@linsui can you take a second look since you've touched that last?

[2022-08-21 16:29] Selaron commented on #1109
The universal-image-loader from jitpack.io contains the modification:

[code]

[2022-08-21 18:02] SkewedZeppelin commented on #1109
Interestingly the 1.9.5 build is marked as failed on jitpack: https://jitpack.io/#nostra13/Android-Universal-Image-Loader

https://jitpack.io/com/github/nostra13/Android-Universal-Image-Loader/v1.9.5/build.log

[2022-08-21 18:14] SkewedZeppelin commented on #1109
Ah!

Download the source: https://jitpack.io/com/nostra13/universalimageloader/universal-image-loader/1.9.5/universal-image-loader-1.9.5-sources.jar

There is a comment, this is definitely an impostor package:
[code]

[2022-08-21 18:27] licaon-kter commented on #1109
What's the issue here, package takeover or same package published on a different maven that takes procedence over the real maven?

[2022-08-21 18:28] SkewedZeppelin commented on #1109
I think it may be both?

[2022-08-21 19:26] SkewedZeppelin commented on #1109
It appears they made their results public and there are other impacted apps here: https://github.com/patisengkuni/interactsh-web/blob/master/src/lib/localStorage/index.ts

[2022-08-21 19:41] Selaron commented on #1109
`core/DisplayBitmapTask.java`
contains a constant:

`private static final String HNTRBNTY =
VEhJUyBJUyBOT1QgQU4gQVRUQUNLLCBOTyBEQVRBIFNUT0xFTiwgTk8gQUNUSU9OIFRBS0VOLiBJIGRpZG4ndCBkbyBhbnl0aGluZyBvdGhlciB0aGFuIGRlY2xhcmluZyBhIHZhcmlhYmxlLiAKWWVzLCB0aGlzIHdhc24ndCBzdXBwb3NlZCB0byBiZSBoZXJlLHRoaXMgaXMgYSBzbWFsbCBleHBlcmltZW50IHRoYXQgSSBkaWQgb24gYW5kcm9pZCBhcHBzIHZ1bG5lcmFiaWxpdHkuIElmIHlvdSBmb3VuZCB0

[2022-08-21 19:46] SkewedZeppelin commented on #1109
This appears to be a targeted attack on this app: https://play.google.com/store/apps/details?id=ua.privatbank.ap24

That is the largest bank in Ukraine.

[2022-08-22 08:36] jitpack-io commented on #1109
Hi all,

This is interesting.
To build a package with a custom domain you need to [setup](https://docs.jitpack.io/private/#custom-domain) a DNS TXT record.
`git.universalimageloader.nostra13.com` points to "https://github.com/patisengkuni" so that is what JitPack uses to build.

[code]

[2022-08-22 10:59] TheLastProject commented on #1109
Thanks for the quick response, @jitpack-io!

So, as I understand it:
1. https://github.com/nostra13/Android-Universal-Image-Loader used package name com.nostra13.universalimageloader
2. A self-proclaimed security researcher, instead of reporting this supply chain attack risk in a responsible fashion, registered nostra13.com and published libraries to Jitpack under com.nostra13 (I really dislike th

[2022-08-22 11:01] licaon-kter commented on #1109
As expected ? https://github.com/nextcloud/news-android/blob/v.0.9.9.75/build.gradle#L16

[2022-08-22 11:51] licaon-kter commented on #1109
Since the lib seems abandoned, any chance to switch to https://github.com/nostra13/Android-Universal-Image-Loader#alternative-libraries

[2022-08-22 12:03] jitpack-io commented on #1109
@TheLastProject That sounds about right.

We also recommend using Gradle [filtering](https://docs.gradle.org/current/userguide/declaring_repositories.html#sec:repository-content-filtering) to select which libraries you want to get from JitPack.

Cross-referencing seems like a great idea. Will be looking into it

[2022-08-22 12:11] linsui commented on #1109
MavenCentral requires the domain owned by the author. So looks like their domain expaired and the researcher got it.

[2022-08-22 19:45] Japhys opened #1111 "titles spanning three lines, news source unreadable"
I am using a standard font and the thumbnail title view. Looks like this

![Screenshot_20220822-213908](https://user-images.githubusercontent.com/24695937/186005456-eec41f97-899d-4b66-91fe-31eb01946bac.png)

Obviously when I change to small font it does work, but it's hard to read for me

Motorola edge 30 pro

[2022-08-23 05:40] TheLastProject commented on #1109
Ping @David-Development: we're waiting for a response from you in the fdroiddata issue you made. Kinda urgent imho :)

[2022-08-27 13:17] iNtEgraIR2021 opened #1112 "enable use of image proxies"
Hi,

I love this great app. Also thumbs up 👍🏼  for you fast reaction on the security incident fixed in the last release.

As to my personal understanding this app downloads images straight from their (external) sources it would be a great improvement in terms of UX to my personal to be able to use an image proxy. (say `images.weserv.nl` or `external.duckduckgo.com`, or a self hosted server etc. ..

[2022-08-28 20:46] TheLastProject commented on #1109
0.9.9.75 was removed (see earlier posts) and 0.9.9.76 has been available for several days. I think this issue can be closed now, right?

[2022-08-28 21:21] Sunsheep commented on #1109
Yes, I think so as well.
Many thanks to all who were involved.

[2022-08-28 21:22] #1109 closed

[2022-09-04 13:20] matzex opened #1113 "Support Material You Theming with App Icon"
Hello,

I am a long-term user of the news app and like it for years!
It would be nice if you could support Material You Theming for the App Icon which was introduced with Android 13 and should be easy to implement with a monochrom icon.
Spotify is also working on it: https://community.spotify.com/t5/Live-Ideas/Android-Other-Modernize-app-icon-to-support-Android-13-Material/idi-p/5424376

Maybe thi

[2022-09-04 14:02] stefan-niedermann commented on #1113
As far ad I can see, [support for a monochrome icon is already present](https://github.com/nextcloud/news-android/blob/master/News-Android-App/src/main/res/mipmap-anydpi-v26/ic_launcher.xml#L5) - maybe just not released yet? 🤔 As far as I understand from the linked resources, this will only work on Android 13+ and

[2022-09-08 18:53] matzex commented on #1113
Thank you, looks like the solution. My up to date app version from play store is on version 0.9.9.74, looks like it should be included in the next release. Nice, looking forward to it!

[2022-09-08 18:53] #1113 closed

[2022-09-11 10:31] David-Development commented on #1112
@iNtEgraIR2021 Thank you for the proposal! Adding it in the DownloadImageHandler would only work images that are dowloaded by the app itself

- Preview pictures in the list view
- Favicons
- Through the "Download images / Download articles offline" option in the menu

In the detail view images are downloaded by the WebView. In order to redirect them through an image proxy there are two options:

1

[2022-09-11 10:38] David-Development commented on #1105
@markochk Oh okay, thanks for the clarification. So basically you are marking all unread items in your news app (web) as read in a single transaction. The only thing I can think of that could go wrong is that the response from the server is too large for the app to handle (e.g. too many items were changed). However that wouldn't explain why consecutive syncs work properly.

How many articles are u

[2022-09-11 10:46] David-Development commented on #1108
@gjanssens Which version of the nextcloud news app (web) are you using?

Which hardware are you running your nextcloud server on? Is it a 32bit system? -> https://github.com/nextcloud/news/issues/1320

I can't really think of any other reason that would explain such synchronization issues. Are you using the "Login using Nextcloud Files App" or the "Manual login" inside the android app?

There is a

[2022-09-11 10:55] Grotax commented on #1105
Not sure, I don't think it is directly related.
Since this issue was already fixed in 18.1.0. updating was failing because we didn't update the timestamp when marking them as read.

But when I have time I will check again, maybe there is some difference in when the api marks something as read compared to the UI.

[2022-09-11 13:32] iNtEgraIR2021 commented on #1112
Hi @David-Development

thanks for looking into this 👍🏼

Option 1 sound promising to me.

[2022-09-11 14:09] markochk commented on #1105
Max 70-80, but it happens even if it's as few as 10 articles.

Something odd just happened: I haven't used the Android app in a while (because of this issue), so after your replies I openened it to check, expecting to see the unread article count in the thousands, but it showed the same value as in the web app (only 58). Now, checking all unread articles as read in the web app still didn't make th

[2022-09-11 14:29] Grotax commented on #1105
What DB server software do you use?

[2022-09-11 15:20] markochk commented on #1105
Nextcloud > Settings > System > Database prints:
[code]

`mysql --version` prints:
`mysql  Ver 15.1 Distrib 10.6.7-MariaDB, for debian-linux-gnu (aarch64) using  EditLine wrapper`

I hope this is what you were asking for; sorry if it's not.

If it's of any use, syncing things like files, CardDAV, CalDAV etc. is pretty much instantaneous.

[2022-09-12 15:00] David-Development commented on #1062
@LinAGKar Great news, I found a way to use SVGs! Will be included in the next release

[2022-09-12 15:04] #1111 closed

[2022-09-12 15:05] David-Development commented on #1111
Thank you for the report! I increased the height a little. Works great on my phone! Will be fixed in the next release

[2022-09-12 15:15] David-Development commented on #1112
As a side note: I added `images.weserv.nl` as a proxy to convert SVG favicons to webp favicons since our image loading library doesn't support SVGs. -> https://github.com/nextcloud/news-android/pull/1115

[2022-09-12 20:10] LinAGKar commented on #1062
Nice! Thanks.

[2022-09-14 10:48] iNtEgraIR2021 commented on #1112
Thanks for working on this so quickly :+1:
Looking forward to the integration of this PR.

[2022-09-14 18:07] matzex commented on #1113
This was released on or before September 14th 2022 with version 0.9.9.75 in play store. Thanks!

[2022-09-17 09:50] mMuck opened #1116 "Separate channel notifications doesn't link to feed channel (low prio)"
They link to the normal unread channel. I expected the channel view.

Is this known? Could this be confirmed from other users please? Thanks.

News v0.9.9.75
Android 9

[2022-09-19 06:51] tobiasKaminsky opened #1117 "Articles marked as read are not correctly synced"
As I have way too many news, I have a script that marks all articles older than 3 days as read:
[code]

As you can see i select id, then use API to mark them as read.
This works as intended.
On web ui: 64 items, oldest 3 days ago
On Android: 315, oldest 4 weeks ago

Somehow some articles are marked as read, some not.

[2022-09-19 13:04] stefan-niedermann opened #1118 "Podcast player is sometimes half visible"
Sometimes the controls for the podcast player are "half" visible and cover the FAB and other UI elements even though I never used it.

It does not happen often, but only sometimes. I suspect some kind of race condition when the position is being calculated...?

Ine can swipe it down and it goes away as expected. It feels a bit glitchy though, that it is shown when one does not expect it.

Affected

[2022-09-23 09:09] Bruno-FGM commented on #1001
Would be nice to have an easy option because right now, only possible from the parameter. Maybe an option from the ... option button.

[2022-09-28 15:58] gjanssens commented on #1108
@David-Development I'm currently using version 18.1.0 of the nextcloud web app. The problem has been going on for quite a while though, at least back to whatever version was in NextCloud 20, maybe longer. I never bothered with reporting as I thought it to be an obvious bug many users would run into :(

Anyway, the nextcloud server runs on a 64bit system.

I didn't remember which login method I was

[2022-09-28 15:58] #1108 closed

[2022-09-30 09:39] p-bo opened #1121 "More unambiguous referencing to Nextcloud files sync app for Android"
Hello,
in following file, there is used
https://github.com/nextcloud/news-android/blob/aaaeb6ae49dd6abbfbde3f86849d746305e0048f/News-Android-App/src/main/res/values/strings.xml#L118
for sure, intended meaning there is [Nextcloud Android App](https://github.com/nextcloud/android#nextcloud-android-app-iphone) (to reuse its authentification). But name "Nextcloud Files App" is used for server-side com

[2022-10-07 12:17] zecamigo opened #1122 "Impossible to convert date"
Hi there,

I was attempting to subscribe this feed:
https://www.crisisgroup.org/rss

I got this error message

This has happened with other feeds before.

It makes it impossible to subscribe.
---

App Version: 0.9.9.76
App Version Code: 179

---

SSO enabled: false

---

OS Version: 4.4.302-dos.p101+(eng.emy.20220907.134402)
OS API Level: 32
Device: OnePlus5T
Model (and Product): ONEPLUS A5010 (On

[2022-10-07 12:35] stefan-niedermann commented on #1122
According to the W3C validator this feed is not valid: https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fwww.crisisgroup.org%2Frss

First marked error also relates to date formatting:

Actually, I don't see any fault of the News Android app here (nor from the News server app). You should contact the server administrator of crisisgroup.org and tell them to fix their feed.

[2022-10-07 13:48] zecamigo commented on #1122
Thanks for the quick reply!
I was afraid you would say that. And you're right of course. And I'll make sure to reach out to the admin.
Still I don't intend to fix the web and as there are a number of readers that can parse this nevertheless (tiny tiny rss app, fresh rss web), I was hoping it could be considered as a feature request.

Thanks

[2022-10-07 14:05] stefan-niedermann commented on #1122
Well, I am not a regular developer of the News Android app, but I would assume that @David-Development also does not intend to "fix" (= support invalid stuff) the web. Where to begin and where to stop? Website B might have another format error, website C might not even have a valid XML document and website D tries to deliver cheesburgers rather than an actual feed <small>(Well, I *think*, I would

[2022-10-09 18:18] zecamigo commented on #1122
I wouldn't know either. My hopes, because other apps do it, is that it would be possible to make the parser more resilient to format errors. This because my feed list which has zero errors in some others apps, is 2% not parseable in Nextcloud News. As this is nevertheless my favorite app, I'm hoping it can be improved.

Already did. I ask because in my experience, 90%+ of webadmins will not revamp

[2022-10-26 13:58] omer71turan opened #1124 "Rss kaynak ekleyemiyorum"
Merhaba
Nextcloud uygulamasına üye oldum. Kök hücre bilmiyorum ve haber kaynaklarını ekleyemiyorum.

App Version: 0.9.9.75
App Version Code: 178

---

SSO enabled: false

---

OS Version: 4.14.113-24700230(A515FXXS5FVI1)
OS API Level: 31
Device: a51
Model (and Product): SM-A515F (a51nsxx)

---

sp_max_cache_size=500
sp_swipe_left_action=2
sw_use_single_sign_on=false
cb_ShowOnlyUnread=true
cb_openI

[2022-11-02 08:42] tobiasKaminsky commented on #1117
I checked again and see that web/REST API is doing correct:
{{ base_url  }}/apps/news/api/v1-3/items?type=3&getRead=false&batchSize=-1

This shows on web/REST: 18
But on Android 20, whereas the oldest 2 are more than one week old

@David-Development if you give me an hint, I can check what might be wrong :)

[2022-11-03 06:20] p0w3rfu11 opened #1125 "ужас"
Please describe your bug here...

---

App Version: 0.9.9.76
App Version Code: 179

---

SSO enabled: true

---

OS Version: 4.14.113-24706840(G973FXXUFHVG4)
OS API Level: 31
Device: beyond1
Model (and Product): SM-G973F (beyond1lteeea)

---

sp_max_cache_size=500
sp_swipe_left_action=2
sw_use_single_sign_on=true
cb_ShowOnlyUnread=false
cb_openInBrowserDirectly=false
lv_cacheImagesOffline=0
cb_Sho

[2022-11-10 07:33] rugk opened #1126 "Remove/change "mark all as read" button in notification"
## Use case/Reasoning

I have some priority notifications, saw two entries I did not care about and saw that "mark all as read" button.
I thought it would mark the two entries/notifications as reaed but instead it marked *all* notifications as read in the whole app in all directories.

This happened twice to me and I regret it totally.🙈

Because obviously I have a pile of feed entries that I have

[2022-11-10 12:11] codeling commented on #500
I didn't check for a while, but the issue still (or again) occurs on version 0.9.9.76.

Now, I don't notice an age pattern in the items not synchronized, but as far as I saw, they were all from one specific feed (http://www.heise.de/newsticker/heise-atom.xml). When I uncheck them in the app as well, the disappear, so as a workaround, I have un-starred the unwanted items a second time in the androi

[2022-11-11 08:29] stefan-niedermann commented on #1125
Please describe the issue you encountered and if possible steps to reproduce. Tell us something about your environment, for example a feed where the issue occurs and which version of the News server app you are using.

This "bug" report is unfortunately completely useless and does not tell us what actually went wrong or what to fix.

[2022-11-11 08:29] #1125 closed

[2022-11-18 16:37] Sadoon-AlBader opened #1128 "Automating / Scheduling offline caching"
First of all thank you so much for writing this application!

I believe this might be similar to #701 , what I am proposing is an option to automatically download articles for offline viewing based on a schedule or based on connectivity to wi-fi for example. This would be immensely useful for devices that are not always online (I use an Android E-ink tablet :D )

Offline reading works just fine no